<h1>OMGdb</h1>
<p>Just another imbd clone... search your movie title below...</p>

<form action="">
  <label for="search"></label>
  <input type="text" name="title">
  <input type="submit" value="searchTitle">
</form>

<section id="results">
</section>
